Source: vumi-wikipedia
Maintainer: Jeremy Thurgood <jeremy@praekelt.com>
Section: net
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7.0.50~), python, python-central, python-setuptools, quilt

Package: vumi-wikipedia
Architecture: all
Depends: python-pkg-resources, vumi (>= 0.4.0~), ${misc:Depends}, ${python:Depends}
Description: Vumi Wikipedia app
 This is a vumi app that provides access to Wikipedia over a combination of
 SMS and USSD.
